
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/BarlowSemiBold.ttf"); font-family : "Barlow"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/BarlowRegular.ttf"); font-family : "Barlow"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/BarlowMedium.ttf"); font-family : "Barlow"; font-weight : 500;  }